{% extends 'base.html'%}
{% block head%}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}

{% block container %}
<div class="header">
    <h1>
        {% block title %}
        Songs
        {% endblock %}
    </h1>
    <a href="/songs/add_song">
        <button type="button" class="btn ">Add</button></a>
</div>

<!-- List of songs added -->
{% if not songs %}
<p>No songs added yet.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Length</th>
            <th scope="col">Album</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{song.title}}</td>
            <td>{{song.length}}</td>
            {% for album in albums %}
            {% if (album.id == song.album_id) %}
            <td>
                {{ album.title }}
            </td>
            {% endif %}
            {% endfor %}
            <td>
                <a class="btn" href="/songs/{{song.id}}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}