{% extends 'base.html'%}
{% block head%}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}

{% block container %}
<div class="header">
    <h1>
        {% block title %}
        Songs
        {% endblock %}
    </h1>
    {% if current_user.is_authenticated %}
    <a href="/songs/add_song">
        <button type="button" class="btn ">Add</button></a>
    {% endif %}
</div>

<!-- List of songs added -->
{% if not songs %}
<p>No songs added yet.</p>
{% else %}

<!-- <table>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Length</th>
            <th scope="col">Album</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{song.title}}</td>
            <td>{{song.length}}</td>
            {% for album in albums %}
            {% if (album.id == song.album_id) %}
            <td>
                {{ album.title }}
            </td>
            {% endif %}
            {% endfor %}
            {% if current_user.is_authenticated %}
            <td>
                <a href="/songs/{{song.id}}">
                    <button class="btn">Edit</button></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table> -->
{% endif %}
{% endblock %}