{% extends 'base.html'%}
{% block head%}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}

{% block container %}
<div class="header">
    <h1>
        {% block title %}
        Songs
        {% endblock %}
    </h1>
    <a href="/songs/add_song">
        <button type="button" class="btn ">Add</button></a>
</div>

<!-- List of songs added -->
{% if not songs %}
<p>No songs added yet.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Slug</th>
            <th scope="col">Length</th>
            <th scope="col">Album</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{song.id}}</td>
            <td>{{song.title}}</td>
            <td>{{song.slug}}</td>
            <td>{{song.length}}</td>
            <td>{{song.album_id}}</td>
            <td>
                <form method="post">
                    <button type="submit" class="btn btn-danger" value="{{song.id}}" name="song_id">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}