.single_album {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.album_info h3 {
    padding-bottom: 0.4rem;
}

.album_info button {
    margin-top: 1.8rem;
}

.tracklist ol {
    margin-top: 0.5rem;
}

ol {
    padding-left: 1em;
}

@media (max-width: 40em) {
    .single_album {
        gap: 2rem;

        flex-direction: column;
    }
}