@import "variables.css";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: var(--font);
    font-size: var(--fz-1);
    text-decoration: none;

    color: var(--fg-white-100);
    background-color: var(--bg);
}

/* Fonts */
h1 {
    font-size: var(--fz-4);
}

h2 {
    font-size: var(--fz-3);
}

h3 {
    font-size: var(--fz-2);
}

p {
    font-size: var(--fz-1);
}

body {
    width: 100vw;
    min-height: 100vh;
}

main {
    width: min(95%, 70rem);
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

nav {
    width: 100%;
    min-height: 4rem;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.home-nav {
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-item {
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: var(--fz-2);
}

#logo {
    font-size: var(--fz-2);
    color: var(--fg-pink-300);
}

#menu-item:hover {
    background-color: var(--anchor-bg-hover);
    border-radius: 0.5rem;
    color: var(--anchor-fg-hover);
}

.container {
    width: 100%;
    padding: 4rem 0;
}

/* Components */
.btn {
    padding: 0.4rem 0.8rem;
    background-color: var(--bg-grey-200);
    border-radius: 0.5rem;
    border: 0.05rem solid var(--anchor-grey-border);
    color: var(--fg-pink-200);
    font-weight: 600;
}

.btn:hover {
    background-color: var(--anchor-grey-border);
    color: var(--fg-pink-100);
}

.btn-danger {
    background-color: var(--btn-danger);
    color: var(--fg-white-100);
}

.btn-danger:hover {
    background-color: var(--btn-danger-hover);
    color: var(--fg-white-200);
}

/* Hamburger menu */
#hamburger-btn {
    display: none;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#hamburger-btn:hover {
    background-color: var(--anchor-bg-hover);
}

.menu {
    display: flex;
    flex-direction: row;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 60em) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: baseline;
    }

    #hamburger-btn {
        display: block;
    }


    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-self: center;
        gap: 0.5rem;
    }

    .open {
        display: flex;
    }

}