{% extends 'base.html'%}
{% block head%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/albums.css') }}">
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}

{% block container %}
<div class="header">
    <h1>
        {% block title %}Albums{% endblock %}
    </h1>
    {% if current_user.is_authenticated %}
    <a href="/albums/add_album">
        <button type="button" class="btn ">Add</button></a>
    {% endif %}
</div>

<!-- List of albums added -->
{% if not albums %}
<p>No albums added yet.</p>
{% else %}
{% for album in albums %}
<div class="single_album">
    <div class="album_info">
        <h2> {{album.title}}</h2>
        {% for artist in artists %}
        {% if artist["id"] == album.artist_id %}
        <h3>By: {{artist["name"]}}</h3>
        {% endif %}
        {% endfor %}
        <h4>Release date: {{album.release_date}}</h4>
        <p># of songs: {{album.number_of_songs}}</p>
        {% if current_user.is_authenticated %}
        <a href="/albums/{{album.id}}">
            <button class="btn">Edit</button>
        </a>
        {% endif %}
    </div>
    <div class="tracklist">
        <ol>
            {% for song_in_album in album.tracklist %}
            <li>{{ song_in_album['title'] }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endfor %}


<!-- <table>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Release Date</th>
            <th scope="col"># of songs</th>
            {% if current_user.is_authenticated %}
            <th scope="col">Actions</th>
            {% endif %}

        </tr>
    </thead>
    <tbody>
        {% for album in albums %}
        <tr>
            <td>{{album.title}}</td>
            {% for artist in artists %}
            {% if artist["id"] == album.artist_id %}
            <td>{{artist["name"]}}</td>
            {% endif %}
            {% endfor %}
            <td>{{album.release_date}}</td>
            <td>{{album.number_of_songs}}</td>
            {% if current_user.is_authenticated %}
            <td>
                <a href="/albums/{{album.id}}">
                    <button class="btn">Edit</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table> -->
{% endif %}
{% endblock %}