{% extends 'base.html'%}
{% block head%}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}

{% block container %}
<div class="header">
    <h1>
        {% block title %}Albums{% endblock %}
    </h1>
    <a href="/albums/add_album">
        <button type="button" class="btn ">Add</button></a>
</div>

<!-- List of albums added -->
{% if not albums %}
<p>No albums added yet.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Release Date</th>
            <th scope="col"># of songs</th>
            <th scope="col">Total Length</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for album in albums %}
        <tr>
            <td>{{album.id}}</td>
            <td>{{album.title}}</td>
            {% for artist in artists %}
            {% if artist["id"] == album.artist_id %}
            <td>{{artist["name"]}}</td>
            {% endif %}
            {% endfor %}
            <td>{{album.release_date}}</td>
            <td>{{album.number_of_songs}}</td>
            <td>{{album.total_length}}</td>
            <td>
                <a href="/albums/{{album.id}}">
                    <button class="btn">Edit</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}