<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- menu toggle -->
    <script defer src="{{ url_for('static', filename='js/hamburgerMenu.js') }}"></script>
    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">
    {% endblock %}
</head>

<body>
    <main>
        {% block nav %}
        <nav>
            <div class="home-nav">
                <a id="logo" href="/">Miley Cyrus Discography</a>
                <button id="hamburger-btn" type="button">
                    <i class="uis uis-bars" style="background: none;"></i>
                </button>
            </div>
            <div class="menu">
                <a id="menu-item" href="/songs">Songs</a>
                <a id="menu-item" href="/albums">Albums</a>
                <a id="menu-item" href="/artists">Artists</a>
                <div class="account-info">
                    {% if current_user.is_annonymous %}
                    <a id="account-item" href="/login">
                        <button class="btn">Login</button>
                    </a>
                    {% elif current_user.is_authenticated %}
                    <button id="user">
                        @{{ current_user.username }}
                    </button>
                    <a id="account-item" href="{{ url_for('auth.logout') }}">
                        <button class="btn btn-danger">Logout</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% endblock %}

        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    </main>
</body>

</html>